<li id='{{id}}' class="student__list--item">
  <p><strong>ID:</strong> {{id}}</p>
  <p><strong>Name:</strong> {{nameInput}}</p>
  <p><strong>Surname:</strong>{{surnamenameInput}}</p>
  <p><strong>Age:</strong> {{ageInput}}</p>
  <p><strong>Course:</strong> {{courseInput}}</p>
  <p><strong>Faculty:</strong> {{facultyInput}}</p>
	<button id='editStudent' data-action="edit" >Edit</button>
	<button id='deleteStudent' data-action="delete">Delete</button>
</li>